/*
 * Copyright (c) 2023 Jakub Duchniewicz
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
        chosen {
                zephyr,display = &ssd1306;
        };
 };

&i2c0 {
    lis2dh12: lis2dh12@18 {
        compatible = "st,lis2dh12", "st,lis2dh";
        reg = <0x18>;
    };
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
    };
    max30102: max30101@57 {
        compatible = "maxim,max30101";
        status = "okay";
        reg = <0x57>;
    };
};
